*.pyc
*.py~
*~
*#
.#*
*.cfg
*.exe
*.a
.ropeproject
*.dll
*.out
freepoint
moc_*
*.pro.user
*.o
cppclient/ui_*
*.rcc
qrc*
server.json
config.json
settings_server/settings_server
settings_server/execute-sql.go