<html>
  <link href="{{.STATIC_URL}}stylesheet.css" rel="stylesheet" type="text/css" />
  {{include "includes/header.html"}}
  <body>
    <form action="/login/" method="POST">
      <fieldset>
        <legend>Login</legend>
        <label for="username">Email/Username:</label>
        <input id="username" type="text" name="username" /><br />
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" />
        <input type="submit" value="submit" />
      </fieldset>
    </form>
  </body>
</html>
